<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="/Content/img/logo.png" alt="" class="logo img-responsive">
                </a>
            </div>
            <div class="navbar-collapse collapse pull-right">
                <ul class="nav navbar-nav">
                    <!--<li><a href="/">Home</a></li>-->
                    <li><span><a href="/Help">API</a></span></li>
                    <li><span><a href="/Test">Test Lab</a></span></li>
                    <li><span><a href="/Contact" class="btn btn-default" style="color:#428bca;">Contact us</a></span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content-wrapper">
        @RenderBody()
        <hr />
        <footer>
            <div style="width: 960px; margin: 0 auto; max-width: 100vw;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p>&copy; @DateTime.Now.Year - Affinity project</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/custom")
    @RenderSection("scripts", required: false)
</body>
</html>
